# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\v.danilov.DEX\Source\Repos\dex-common\src\Dex.Cap codebase based on best match to current usage at 12.08.2021
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

# CS1591: ќтсутствует комментарий XML дл¤ открытого видимого типа или члена
dotnet_diagnostic.CS1591.severity = none

#[CA1848] For improved performance, use the LoggerMessage delegates instead of calling 'LoggerExtensions.LogTrace(ILogger, string, params object[])'
dotnet_diagnostic.CA1848.severity = none