[*.cs]

# CA2007: Попробуйте вызвать ConfigureAwait для ожидаемой задачи
dotnet_diagnostic.CA2007.severity = none

dotnet_diagnostic.CA1812.severity = none

# CA1031: Не перехватывать исключения общих типов
dotnet_diagnostic.CA1031.severity = none
